html{
  margin:0;
  padding:0;
}
body{
  margin:0;
  padding:0;
}
img{
  width: 100%;
}

.koji{
  position: fixed;
  width: 20vw;
  bottom:0;
  right:0;
}
.rsvp{
  position: fixed;
  width: 30vw;
  bottom:1vw;
  left:50vw;
}

.head{
  margin-top: 4vh;
  display: flex;
  justify-content: center;
}
.logo{
  /* background: green; */
}

.body{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* background: green; */
}
.body-content{
  width:50vw;
}

@media only screen and (max-width: 600px) {
  .koji{
    position: fixed;
    width: 50vw;
    bottom:0;
    right:0;
  }
  .rsvp{
    position: fixed;
    width: 30vw;
    bottom:4vw;
    left:4vw;
  }
  .head{
    margin-top: 4vh;
    display: flex;
    justify-content: center;
  }

  .body{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* background: green; */
  }
  .body-content{
    width:85vw;
  }
}
